.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  transform: translateX(0);
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  display: none;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(5px);
  transition: opacity 0.5s;
  opacity: 0;
}

.dropdown-container:hover .dropdown {
  display: block;
  opacity: 1;
}

.dropdown:hover {
  opacity: 1;
}