/* Estilos para el menú desplegable */
.dropdown-container {
    position: relative;
}
/* Estilos para el enlace que activa el menú desplegable */
.dropdown-trigger {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.dropdown {
    align-content: center;
    position: fixed;
    width: 40em;
    background-color: #ffffff;
    list-style: none;
    padding: 4em 0 4em 0;
    margin: 0;
    z-index: 1; /* Asegura que el menú esté por encima de otros elementos */
}

.dropdown li {
    padding: 3px;
}
/* Estilos para los enlaces dentro del menú desplegable */
.dropdown li a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.dropdown li a:hover {
    color: #000000;
    font-size: 15px;
    text-decoration: underline #000000;
}

/* Mostrar el menú desplegable cuando se activa */
.dropdown-container:hover .dropdown {
    display: block;
}