.header {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: 1006;
    height: auto;
    margin: 1.90em 0 0 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.search-bar {
    display: flex;
    justify-content: left;
    border-color: #ffffff;
    border: none;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
}
.search-icon {
    font-size: 18px;
    color: #000000;
    margin-top: 5px;
    padding: 0 1em;
}


.logo {
    display: flex;
    align-items: center;
    height: 5em;
    margin: 0;
}

.name {
    color: black;
    justify-content: center;
    font-family: 'Bebas Neue', fantasy;
    font-size: 2.2em;
    font-weight: 4000;
    font-style: normal;
    margin-left: 10px;
}

.icon-user, .icon-bag {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
}

.icon a {
    color: #000000;
    text-decoration: none;
    padding: 2em 1em;
    transition: background-color 0.3s;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .name, .search-bar {
        display: none;
    }

    .logo {
        display: block;
        position: relative;
        width: 150px;
        max-width: 100%;
        left: 65%;
        transform: translateX(-57%);
        object-fit: contain;
    }

    .header {
        flex-basis: auto; 
    }
    
    .icon {
        display: block;
    }
    .icon-user {
        position: absolute;
        right: 70px;
        top: 50%;
        transform: translateY(-50%);
    }
    .icon-bag {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}