/* Contenedor del header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: white;
    width: 100%;
    box-sizing: border-box;
    background-color: #d25d61;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 5.9em;
    overflow: hidden;
    margin: 3em 0 0 0;
}

/* Estilos para el logo */
.logo {
    display: flex;
    align-items: center;
    height: 6em;
    margin: 0 10px;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #c21a01);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #6b0103);
}

/* Barra de búsqueda */
.search-bar {
    flex: 1;
    display: flex;
    padding: 2em 1em;
    justify-content: flex-end;
    margin: 0 10px;
}

.search-bar input {
    width: 100%;
    max-width: 20em;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

/* Barra de navegación */
.navbar {
    display: flex;
    gap: 2em;
    margin: 0 10px;
    font-size: 18px;
}

.navbar a {
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #6b0103;
    padding: 1em;
    transition: padding 0.2s;
}
.icon {
    display: flex;
    gap: 1px;
    font-size: 17px;
    margin: 0 10px;
}
.icon a {
    color: white;
    text-decoration: none;
    padding: 2em 1em;
    transition: background-color 0.3s;
}