/* Contenedor del header */
.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    color: white;
    width: 100%;
    box-sizing: border-box;
    background-color: #d25d61;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 140px;
    overflow: hidden;
    margin: 0;
}

/* Estilos para el logo */
.logo {
    height: 8em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #c21a01);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #6b0103);
}

/* Barra de búsqueda */
.search-bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0 35px;
}

.search-bar input {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

/* Barra de navegación */
.navbar {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #6b0103;
}