.banner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    color: #ffffff;
    z-index: 10000;
}

.banner {
    display: flex;
    align-items: center;
    height: 2em; /* Altura del slider */
}

.banner-track {
    display: flex;
    width: calc(300px * 14); /* Ancho según el número de slides */
    animation: scroll 30s linear infinite;
}

.banners {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px; /* Ancho de cada slide */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold;
    color: #000000;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-350px * 7)); /* Ajustar según el número de slides */
    }
}
@media (max-width: 768px) {
    .banner-track {
        width: calc(250px * 14);
    }
}